.logo {
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 15px;
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}
