.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 10px;
    margin: 5px 0;
}

.text {
    cursor: pointer;
}

.title {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.button {
    cursor: pointer;
}

.deleteButton {
    cursor: pointer;
    color: red;
}

.completed {
    text-decoration: line-through;
}